<div class="container-fluid">
    
    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="bg-cadastro"></div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <form>
                        <h1 class="text-center mb-5 w-100">Faça seu cadastro</h1>
                        <div class="form-group">
                            <label for="inputEmail" class="mb-0">E-mail:</label>
                            <input type="email" class="form-control" id="inputEmail">

                            <label for="inputSenha" class="mt-3 mb-0">Senha:</label>
                            <input type="password" class="form-control" id="inputSenha">

                            <label for="inputConfSenha" class="mt-3 mb-0">Confirme a senha:</label>
                            <input type="password" class="form-control" id="inputConfSenha">

                            <label for="selectMenu" class="mt-3 mb-0">Tipo de usuário:</label>
                            <select class="custom-select custom-select-md mb-3" id="selectMenu">
                                <option selected>Selecione uma opção</option>
                                <option value="1">Padrão</option>
                                <option value="2">Administrador</option>
                            </select>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success w-100 mt-5">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
