<div class="container py-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div>            
                <h1 class="text-center">Apagar postagem</h1>
                <h4 class="my-3 text-center">Tem certeza que deseja apagar esta postagem? Não será possível recuperá-la!</h4>
                <div class="card-columns d-flex justify-content-center">
                    <div class="card text-center w-50">
                        <div class="card-body">
                            <h5 class="card-title">{{postagem.titulo}}</h5>
                            <p class="card-text"><small class="text-muted">{{postagem.tema.descricao}}</small></p>
                            <p class="card-text">{{postagem.texto}}</p>
                            <p class="card-text"><small class="text-muted">{{postagem.data | date:'dd/MM/yyyy'}} às {{postagem.data | date:'HH:mm'}}</small></p>
                            <p class="card-text"><small class="text-muted">por: {{postagem.usuario.nome}}</small></p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button (click)="deletarPost()" class="btn btn-success mt-3 mr-2">Sim</button>
                    <button routerLink="/inicio" class="btn btn-danger mt-3">Não</button>
                </div>
        </div>
    </div>
</div>
