<nav class="navbar navbar-expand-lg bg-roxo">
    <img src="{{foto}}" alt="Foto de perfil" width="35" class="rounded-circle mr-3">
    <p class="font-weight-bold text-light fs-100 mb-0">Olá, {{nome}}! <span class="sr-only">(current)</span></p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link text-light" href="#"><i class="bi bi-pencil-square text-gray"></i></a>
            </li>
        </ul>
        <a (click)='sair()' href="#" class="my-2 my-sm-0 text-light">Sair<i class="bi bi-box-arrow-right ml-2"></i></a>
    </div>
</nav>
