<div class="container-fluid pt-5 pb-4">
    <h1 class="text-center mb-5 text-light">Temas</h1>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center flex-column align-items-center">
            <h3 class="text-light">Cadastre aqui os temas!</h3>
            <div class="form-group mt-1">
                <form class="d-flex gap">
                    <input [(ngModel)]="tema.descricao" class="form-control" type="text" name="tema" id="inputTema" placeholder="Ex: Jogos">
                    <button (click)="cadastrarTema()" class="btn btn-success" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container py-5">
        <div class="col-md-12 d-flex flex-column align-items-center">
            <h3 class="text-center mb-4">Todos os temas</h3>
            <table class="table table-hover w-75">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tema</th>
                        <th scope="col">Funções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tema of listaTema">
                        <th>{{tema.id}}</th>
                        <td>{{tema.descricao}}</td>
                        <td class="d-flex justify-content-around">
                            <button class="btn btn-info" [routerLink]="['/tema-edit', tema.id]">Editar</button>
                            <button class="btn btn-danger" [routerLink]="['/tema-delete', tema.id]">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
