<div class="container-fluid pt-5 pb-4">
    <h1 class="text-center mb-5 text-light">Temas</h1>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center flex-column align-items-center">
            <h3 class="text-light">Cadastre aqui os temas!</h3>
            <div class="form-group mt-1">
                <form class="d-flex gap">
                    <input class="form-control" type="text" name="tema" id="inputTema" placeholder="Ex: Jogos">
                    <button class="btn btn-success" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container py-5">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Todos os temas</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
